{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if error %}
    <script>
        alert("{{error}}");
    </script>
    {% endif%}
<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #212529" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{% url 'home'%}#page-top"><h1 style="color:white; float:left; margin-left:20px; ">Food HERO</h1></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'home'%}#aboutus">About Us</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'home'%}#product14">대표 물품</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'home'%}#foodmap">푸드뱅크 지도</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'centerItem' %}">물품 조회</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'board' %}">게시판</a></li>
                        {% if user_name %}
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" onclick="return false;">{{user_name}} 님!</a>
							<ul class="dropdown-menu">
							  <li><a class="dropdown-item" href="{% url 'mypage' %}">내 정보</a></li>
							  <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.get_full_path}}">Log Out!!</a></li>
							</ul>
						</li>
					  {% else %}
						<li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.get_full_path}}">Log in</a></li>
					  {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

<section class="page-section">
    <!-- Start board area-->
    <div class="container" style="margin-top:100px;">
        <h2>문의 사항</h2>
        <div>
            <p style="display:inline;">우리 서비스의 불편사항을 알려주세요.</p>
            <button id="write_button" style="float:right; margin-bottom:10px; background-color:#b68834; color:white; opacity:0.8;" type="button" class="btn">글쓰기</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:10%;">번호</th>
                    <th style="width:40%; text-align:center;">제목</th>
                    <th style="width:10%;">작성자</th>
                    <th style="width:20%;">작성일</th>
                    <th style="width:10%;">조회수</th>
                    <th style="width:10%;">추천수</th>
                </tr>
            </thead>

            <tbody>
                {% for data in Board%}
                <tr onclick="view({{data.id}})">
                    <td>{{data.id}}</td>
                    <td style="font-weight:bolder;">{{data.title}}</td>
                    <td>{{data.writer.username}}</td>
                    <td>{{data.writedate |date:"Y-m-d" }}</td>
                    <td>{{data.cnt}}</td>
                    <td>{{data.like}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- End board area-->

    <!-- Start Pagination-->
        <ul class="pagination justify-content-center">
            {% if Board.has_previous %}
              <li class="page-item"><a class="page-link" href='?page={{Board.number|add:-1}}'>Previous</a></li>
            {% endif %}
            {% for i in total%}
              {% if i == current %}
                <li class="page-item active"  ><a class="page-link" style="background-color:#b68834; border-color:#b68834;" href="?page={{i}}">{{i}}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" style="color:black;"  href="?page={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}
            {% if Board.has_next %}
              <li class="page-item"><a class="page-link"  href='?page={{Board.number|add:+1}}'>Next</a></li>
            {% endif%}
        </ul>
    <!-- End Pagination-->
</section>
<script>
        $('#write_button').on("click",function(){
            location.href="{% url 'write' %}";
        });

        function view(id){
            location.href="{% url 'update_cnt'%}?id="+id+"&loc={% url 'view'%}?view="+id;
            //location.href="{% url 'view'%}?view="+id;
        }

    </script>
{% endblock %}